@model List<PhoneBook.Models.PhoneType>

<h1>Λίστα με τους τύπους των τηλεφώνων</h1>

<a class="btn btn-success mb-3" asp-controller="PhoneType" asp-action="Create">Δημιούργησε νέο τύπο</a>

@if (Model is null)
{
    <p>Δεν ύπαρχουν τύποι τηλεφώνων</p>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th>Τύπος Τηλεφώνου</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var phoneType in Model)
            {
                <tr>
                    <td>@phoneType.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="PhoneType" asp-action="Edit" asp-route-id="@phoneType.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="PhoneType" asp-action="Delete" asp-route-id="@phoneType.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}